/*.bola {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  display: ;
}
*/
body {
  font-family: "Fredoka One", Arial, Helvetica, sans-serif;
  
}
body::-webkit-scrollbar{
  width: 0px;
}

.pre-scrollable {
  overflow-x: hidden;
  max-height: 400px;
}
.pre-scrollable::-webkit-scrollbar {
  width: 0px;
}
/* BOLA */
.outer-circle {
  margin-left: auto;
  margin-right: 20%;
  background: #c01922;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.inner-circle {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  top: 13px;
  margin: 0px 0px 0px 13px;
}

.inside-content {
  text-align: center;
  position: relative;
  top: 10px;
  font-family: "Luckiest Guy","Fredoka One", Arial, Helvetica, sans-serif;
  color: #d80101;
  font-size: 300%;
  user-select: none;
}
/*******/
/* CARTON */
td.seleccionado {
  background-color: #b94c4c !important;
  opacity: 1;
}

td.casillaTapada{
  background-color: #92151b !important;
}
.estiloCarton {
  display: table;
  float: none;
  position: relative;
  margin: 0 auto;
}

.estiloCarton td {
  border: solid 7px black;
  background-color: #ffffff;
  color: red;
  font-size: 250%;
  padding: 5px;
  text-align: center;
  user-select: none;
  width: 70px;
  white-space: nowrap;
}

.estiloCarton td:hover {
  background-color: #8d8d8d9b;
}

.posicionFila td {
  max-height: 3em;
  overflow: hidden;
}

.cartonesMaquina {
  border: 5px solid black;
  border-radius: 15px;
}

#impar ,#par {
  padding: 1% !important;
}

/**********/
.btn-bingo {
  /*position: absolute;
  right: 30%;
  bottom: 5%;*/
  display: block;
  margin:0 auto;
  margin-top: 3%;
  width: 200px;
  height: 100px;
  font-size: 300%;
}

.posicion-btn {
  align-items: center;
  justify-content: center;
  
}

.modal {
  font-size: 10px !important;
}

.modal-header {
  justify-content: unset !important;
}

/* BOMBO */
#bombo {
  margin: auto;
  border-collapse: separate;
  border-spacing: 2px;
}
.filaBombo td {
  color: #ffffff;
  background-color: #810000;
  text-align: center;
  border-radius: 90%;
  padding: 5px;
  user-select: none;
}
/*********/
/*
table {
    border-collapse: separate;
    border-spacing: 0;
}
table, td {
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
}
*/
